
* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-type: proximity;
    
}
.ext:hover{
    color: white;
}

.nav {
   background-color: #212B6C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    
}
.nav_ext{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.A_logo {
    height: 30px;
    background-color: transparent;
    margin-left: 30px;
}


.A_nav_name {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* background: #2D192C; */
    display: none;
    background-color: transparent;
}


.j_nav_name {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: #2D192C; */
    visibility: hidden;
    width: 0px;
    height: 0px;
    
}
.A_nav {
    /* background: #2D192C; */
  font-family: 'Montserrat', sans-serif;
    padding-right: 30px;
    margin: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
    /* line-height: 30px; */
    text-align: center;
    list-style: none;
    color: #ffffff;
}
.A_nav:hover{
 
    color: white;
}

.j_nav {
    /* background: #2D192C; */
  font-family: 'Montserrat', sans-serif;
   margin: auto;
   width: 60%;
   padding: 5px;
   background: rgba(34, 30, 61, 0.4);
   /* box-shadow: 0px 0px 120px rgb(241 76 202 / 15%); */
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    font-size: 15px;
    /* line-height: 30px; */
    text-align: center;
    list-style: none;
    color: #FFFFFF;
}
.first_but {
    height: 40px;
}
@media only screen and (min-width: 700px) {
    .sec4 {
        padding-bottom: 50px;
    }

    .nav {
        height: 70px;
        justify-content: space-between;
        /* background-color: black; */
    }

    .A_logo {
        height: 40px;
        margin-left: 30px;
        background-color: transparent;
    }

    .A_nav_name {
        display: flex;
        background-color: transparent;
    }
    .j_nav_name {
        visibility: hidden;
        width: 0px;
        height: 0px;

    }
  
    .A_menu_icon {
        display: none;
    }

    .A_text1 {
        font-size: 50px;
    }

    .A_text2 {
        font-size: 20px;
    }

  
}
