.input{
    background-color: aqua;
    width: 500px;
    margin: auto;

}
.head_en{
    text-align: center;
    color: black;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
}
.radio{
    display: flex;
   align-items: center;
    justify-content: center;
    font-size: 18px;
}
.head{
    font-size: 25px;
    margin-top: 20px;
    color: black;
    text-align: center;
    background-color: transparent;

}
.ext{
    width: 60%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 20px;

}
.button{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
}
.textbox5 {
    /* height: 25px; */
    width: 250px;
    padding: 5px;
    background-color: transparent;
    margin: 10px 0;
   

}
.card6{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;  
}
.subName5{
    font-size: 20px;
    color: black;
    font-weight: 600;
    background-color: transparent;
}
.form2 {
    background-color: white;
    padding-right: 15px;
    width: 80%;
    margin: auto;
}
         
.btn {
    background-image: linear-gradient(to right, #212B6C 0%, #3747aa  51%, #212B6C  100%);
    margin: 10px;
    padding: 5px 35px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
 .extt{
    display: flex;
    justify-content: end;
    width: 60%;
    margin: auto;
  } 

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
.textbox {
  
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    border: none;
    border-radius: 5px;

}
.text1 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    background-color: white;
}
.form3 {
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    page-break-inside: avoid;
    /* word-wrap: break-word; */
    margin: 10px;
}
@media only screen and (max-width: 500px) {
    #textbox {
            width: 220px;
        }
        .extt{
            display: flex;
            justify-content: center;
            width: 60%;
            margin: auto;
          }
          .textbox5 {
            width: 220px;
        }
    }